<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
    
  <style>
    body {
      background-color: #f8f9fa;
      font-family: 'Oswald', sans-serif;
    }

    .card {
      border: none;
      margin-bottom: 20px;
    }

    .form-control {
      border-radius: 0.5rem;
    }

    .btn-primary, .btn-danger, .btn-outline-danger, .btn-outline-info, .btn-warning, .btn-success {
      border: none;
      border-radius: 0.5rem;
    }

    .btn-primary:hover, .btn-danger:hover, .btn-outline-danger:hover, .btn-outline-info:hover, .btn-warning:hover, .btn-success:hover {
      opacity: 0.8;
    }

    .display-6 {
      font-weight: 400;
    }

    .navbar {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0 mx-auto" method="post" action="{% url 'index' %}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Ara" name="search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Ara</button>
    </form>
  </nav>

  <div class="container">
    {% for article in searches %}
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="display-6">{{article.title}}</h1>
              <a href="{% url 'detail' article.id %}" class="btn btn-danger text-white">Detail</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <nav>
    <form class="form-inline justify-content-center" method="post" action="{% url 'index' %}">
      {% csrf_token %}
      <div class="form-group mx-sm-3 mb-2">
        <input class="form-control mr-sm-2" type="search" placeholder="İlgi alanı Seç" aria-label="Ara" name="interestsearch">
      </div>
      <button class="btn btn-outline-info mb-2" type="submit">Listele</button>
    </form>
  </nav>

  <div class="container mt-5">
    <form method="post" action="{% url 'index' %}">
      {% csrf_token %}
      <div class="form-group">
        {% for interest in interests %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="{{interest.id}}" name="interests[]" value="{{interest.id}}">
            <label class="form-check-label" for="{{interest.id}}">{{interest.name}}</label>
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-warning">İlgi Alanını Kaydet</button>
    </form>
  </div>

  <div class="title p-4 container">
    <h1 class="display-4">Hoşgeldin {{user.first_name}} {{user.last_name}}!</h1>
  </div>

  <div class="container">
    <h1 class="display-3">{{search}}</h1>
    <div class="row">
      <div class="col-md-6 mb-4">
        <h1 class="mb-4 display-4">FASTEXT</h1>
        {% for article in recommended_articles %}
          <div class="card">
            <div class="card-body">
              <h1 class="display-6">{{article.title}}</h1>
              <a href="{% url 'detail' article.id %}" class="btn btn-danger text-white">Detail</a>
              <a href="{% url 'like_article' article.id %}" class="btn btn-dark text-white">İlgileniyorum</a>
              <a href="{% url 'dislike_article' article.id %}" class="btn btn-outline-dark text-white">İlgilenmiyorum</a>
            </div>
          </div>
        {% endfor %}
        <div class="display-2">Precision {{precision}}</div>
        <div class="display-2"> Recall {{recall}}</div>
      </div>

      <div class="col-md-6 mb-4">
        <h1 class="mb-4 display-4">SCIBERT</h1>
        {% for article in recommended_sc_articles %}
        <div class="card">
          <div class="card-body">
            <h1 class="display-6">{{article.title}}</h1>
            <a href="{% url 'detail' article.id %}" class="btn btn-success text-white">Detail</a>
            <a href="{% url 'like_article' article.id %}" class="btn btn-dark text-white">İlgileniyorum</a>
            <a href="{% url 'dislike_article' article.id %}" class="btn btn-outline-dark text-white">İlgilenmiyorum</a>
          </div>
        </div>
        {% endfor %}
        <div class="display-2">Precision {{sc_precision}}</div>
        <div class="display-2"> Recall {{sc_recall}}</div>
      </div>
    </div>
  </div>

  <div class="container">
    <a href="{% url 'reader_login' %}" class="btn btn-link">Login</a>
    <a href="{% url 'signup' %}" class="btn btn-link">Signup</a>
    <a href="{% url 'admin:index' %}" class="btn btn-link">Admin</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
